
@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Thin.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Thin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedThin.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThin.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedThinOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedThinItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedThinItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLight.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Light.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Light.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedLight.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLight.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-LightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-LightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedLightOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-LightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-LightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedLightItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedLightItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Regular.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Regular.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Extended.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Extended.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-Oblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Oblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-Italic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Italic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Medium.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Medium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedMedium.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMedium.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-MediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-MediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-MediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-MediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedMediumItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiBold.WOFF2') format('woff2'), url('TTF/IosevkaTerm-SemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBold.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-SemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-SemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedSemiBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Bold.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Bold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedBold.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-BoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-BoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-BoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-BoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBold.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBold.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedExtraBoldItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Heavy.WOFF2') format('woff2'), url('TTF/IosevkaTerm-Heavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavy.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavy.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-HeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-HeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyOblique.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyOblique.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-HeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-HeavyItalic.TTF') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyItalic.WOFF2') format('woff2'), url('TTF/IosevkaTerm-ExtendedHeavyItalic.TTF') format('truetype');
}
